#multy {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.content:hover #multy {
  opacity: 0.3;
}

.content:hover .middle {
  opacity: 1;
}

.te {
  background-color: #003a0e;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  border-radius: 15px;
}
.te a {
  text-decoration: none;
  color: #fff;
}
/*filter for sm*/
#filsm {
  height: 600px;
  background-color: #ebf9ee;
}
#rowbelo,
#rowsm {
  padding-left: 50px;
}
#pricename {
  font-size: 18px;
  color: #004e29;
  padding-left: 145px;
  padding-top: 53px;
}
#mesm {
  margin-left: 30px;
}
#rowsm h4 {
  font-size: 18px;
  color: #004e29;
  padding-left: 50px;
}
.menutea,
.classi {
  padding-left: 60px;
  padding-top: 15px;
}
.mass {
  padding-left: 60px;
  padding-right: 50px;
  padding-top: 15px;
}
.weism {
  padding-top: 30px;
}
.weism h4 {
  padding-top: 25px;
  padding-left: 40px;
  font-size: 18px;
  color: #004e29;
}
.clasm {
  padding-left: 100px;
}
/*test check radio*/
.radiotea {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 8px;
  padding-top: 1px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radiotea input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  margin-top: 7px;
  border: 0.5px solid gainsboro;
}

/* On mouse-over, add a grey background color */
.radiotea :hover input ~ .checkmark {
  background-color: #fff;
}

/* When the radio button is checked, add a blue background */
.radiotea input:checked ~ .checkmark {
  background-color: #004e29;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radiotea input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radiotea .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
/*type of tea*/
/* .classi {
  padding-top: 15px;
  padding-left: 20px;
} */
.classi h3,
.mass h3 {
  margin-top: 5px;
}
.classi .type,
.mass .checkweight {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.type input,
.checkweight input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  font-size: 16px;
}

/* Create a custom checkbox */
.mark,
.markbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 7px;
  margin-top: 5px;
  border: 0.5px solid gainsboro;
}

/* On mouse-over, add a grey background color */
.type:hover input ~ .mark,
.checkweight:hover input ~ .markbox {
  background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.type input:checked ~ .mark,
.checkweight input:checked ~ .markbox {
  background-color: #004e29;
}

/* Create the checkmark/indicator (hidden when not checked) */
.mark:after,
.markbox:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.type input:checked ~ .mark:after,
.checkweight input:checked ~ .markbox:after {
  display: block;
}

/* Style the checkmark/indicator */
.type .mark :after,
.checkweight .markbox:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.butbuy {
  font-size: 16px;
  background-color: #003a0e;
  color: #fff;
  border-radius: 15px;
  padding: 10px;
  padding-top: 8px;
  text-decoration: none;
}
.buy,
.add {
  text-align: center;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
.cart {
  font-size: 16px;
  background-color: #66896e;
  color: #fff;
  border-radius: 15px;
  padding: 10px;
  padding-top: 8px;
  text-decoration: none;
}
.buy a,
.add a {
  text-decoration: none;
  color: #fff;
}
#btn {
  padding-top: 40px;
}
